@model IEnumerable<WebApp.Models.Sizes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SizeCM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizeEU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizeUA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizeUSA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SizeCM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeEU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeUA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeUSA)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SizeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SizeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SizeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
